- @monos.each do |m|
  .coote_request
    %p
      %strong=m.from
      &nbsp;says to&nbsp;
      %strong=m.to
      .triangle-border.top
        #{m.body}こーてきて！
      .clearfix
        %div.comments_area{:id => "comments_area_#{m.id}"}
          - m.comments.each do |c|
            .triangle-border.right
              #{c.body}
      %p.clearfix
        = link_to "reply", "#", :id => "reply_to_#{m.id}", :class => "reply_link", "data-mono-id" => m.id
